
/*for-lg-start*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

			/* start */

			.what-item h2 {
					font-size: 16px;
					margin: 25px 0 0 0;
			}

			.what-item p {
				font-size: 14px;
				margin: 12px 0 0 0;
			}

			.test-left-content {
				padding: 30px;
				margin: 48px 0 0 0;
			}

			.footer-item h2 {
				margin: 65px 0 15px 0;
			}
}

/*for-tablet-start*/

@media screen and (min-width: 768px) and (max-width: 991px) {

			/* start */

			.top-bar-left-side ul {
				display: none;
			}

			.nav-item a {
				margin: 23px 15px;
			}

			.what-item-1 {
				min-height: 422px;
			}

			.project-content p br {
				display: none;
			}

			.join-content p br {
				display: none;
			}

			.testamonial-right-side h2 {
				margin: 70px 0 0 0;
			}

			.copy-right-item {
				display: flow;
			}

			.copy-right-item {
				text-align: center;
			}
 	
}

/*for-mobil-start*/

@media screen and (max-width: 767px) {

			/* start */

			.top-bar-left-side ul {
				display: none;
			}

			.top-bar-right-side ul {
				justify-content: center;
			}

			.top-bar-right-side ul li a {
				padding: 0px 15px;
			}

			.nav-item a {
				margin: 15px 23px;
			}

			.over-lay {
				padding: 100px 0 100px 0;
			}

			.hero-content h1 {
				font-size: 30px;

			}

			.hero-content h1 br {
				display: none;
			}

			.hero-content p br {
				display: none;
			}

			.hero-content a:first-of-type,
			.hero-content a:last-of-type {
				padding: 14px 39px;
				margin: 29px 0 0 10px;
			}

			.about-area {
				padding: 1px 0 50px 0;
			}

			.about-title {
				margin: 40px 0 0 0;
			}

			.about-item {
				margin: 40px 0 0 0;
			}

			.about-item p br {
				display: none;
			}

			.what-area {
				padding: 40px 0 20px 0;
			}

			.project-overlay {
				padding: 50px 0 50px 0;
			}

			.project-content h2 {
				font-size: 30px;
				color: #ffffff;
			}

			.project-content p {
				font-size: 18px;
				margin: 18px 0 0 0;
			}

			.project-content p br {
				display: none;
			}

			.team-area {
				padding: 40px 0 60px 0;
			}

			.join-overlay {
				padding: 50px 0 60px 0;
			}

			.join-content p br {
				display: none;
			}

			.testamonial-right-side h2 {
				margin: 70px 0 0 0;
			}

			.test-left-2 p {
				margin: 30px 0 0 0;
			}

			.footer-item img {
				margin: 40px 0 0 0;
			}

			.footer-item h2 {
				margin: 30px 0 15px 0;
			}

			.copy-right-item {
				justify-content: center;
			}		
}

			/*mobil-end*/
		         
